.footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color:rgb(30,30,30);
    color:rgb(220,220,220);
    align-items: center;
    justify-content: space-between;//flex-start;
    padding: 10px 5% 10px 5%;
    font-weight: 300;
    margin-top: 300px;
    
    h4 {
        font-family: 'Robot',sans-serif;
        font-weight: 300;

    }
}
.copyright{
    @media screen and (min-width:700px){
        //margin-left: auto;
    }
    color:#7b7b7b;
    font-weight: 300;
    //flex:1 0 auto;
}
.texts{
    //flex:2 0 auto;
    line-height: 24px;
    //& :first-child{
    //    font-size: 14px;
    //}
    font-size: 14px;
}